<% include ../partials/header %> 
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To Playground App!</h1>
            <p>View our playgrounds from LB</p>
            <% if(currentUser && currentUser.isAdmin){ %>
                <p>
                    <a class="btn btn-primary btn-large" href="/playgrounds/new">Spielplatz hinzufügen</a>
                </p>
            <% }%>
        </div>
    </header>
     
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% playgrounds.forEach(function(playground){ %>
                <div class="col-md-3 col-sm-6 ">
                    <div class="card">
                        <img class="card-img-top" src="<%= playground.image %>" alt="<%= playground.name %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= playground.name %></h5>
                            <% if (playground.rating === 0) { %>
                                <em>Keine Bewertungen bis jetzt.</em>
                            <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (playground.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (playground.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (playground.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (playground.rating > 4.5) { %> checked <% } %>"></span>
                            <% } %>
                            <a href="/playgrounds/<%= playground._id %>" class="btn btn-primary">Mehr Infos</a>
                        </div>
                    </div>
                </div>
            <% }); %>

    
  
    </div>
    
    <div class="container ">
        <nav aria-label="Page navigation">
            <% if (pages && pages > 0) { %>
                <ul class="pagination justify-content-center">
                    <% if (current == 1) { %>
                        <li class="page-item disabled"><a class="page-link">Zurück</a></li>
                    <% } else { %>
                        <li><a class="page-link" href="/playgrounds">Zurück</a></li>
                    <% } %>
             
                    <% if (current == 1) { %>
                        <li class="page-item disabled"><a class="page-link">«</a></li>
                    <% } else { %>
                        <li><a class="page-link" href="/playgrounds?page=<%= Number(current) - 1 %>">«</a></li>
                    <% } %>
             
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                        <% } %>
                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a class="page-link"><%= i %></a></li>
                        <% } else { %>
                            <li><a class="page-link" href="/playgrounds?page=<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        <% } %>
                    <% } %>
             
                    <% if (current == pages) { %>
                        <li class="page-item disabled"><a class="page-link">»</a></li>
                    <% } else { %>
                        <li><a class="page-link" href="/playgrounds?page=<%= Number(current) + 1 %>">»</a></li>
                    <% } %>
             
                    <% if (current == pages) { %>
                        <li class="page-item disabled"><a class="page-link">Vor</a></li>
                    <% } else { %>
                        <li><a class="page-link" href="/playgrounds?page=<%= pages %>">Vor</a></li>
                    <% } %>
                </ul>
            <% } %>
        </nav>
    </div>

<% include ../partials/footer %> 