<% include ../partials/header %> 
    
    <header class="jumbotron">
        <div class="container">
            <h2>Willkommen bei Spielplätze LB</h2>
            <p>Schau dir die Spielplätze an, like deine Favoriten und schreibe Bewertungen, damit andere Mamas & Papas es leichter haben einen tollen Spielplatz zu finden!</p>
            <% if(currentUser && currentUser.isAdmin){ %>
                <p>
                    <a class="btn btn-primary btn-large" href="/playgrounds/new">Spielplatz hinzufügen</a>
                </p>
            <% }%>
            <p>
            	<form action="/playgrounds" method="GET" class="form-inline">
            		<div class="input-group ">
            			<select class="form-control mr-2" id="exampleFormControlSelect1" name="search" >
                            <option selected>Stadtteil...</option>
                            <option>Alle</option>
                            <option>Eglosheim</option>
                            <option>Grünbühl</option>
                            <option>Hoheneck</option>
                            <option>Neckarweihingen</option>
                            <option>Oßweil</option>
                            <option>Oststadt</option>
                            <option>Pflugfelden</option>
                            <option>Poppenweiler</option>
                            <option>Schlösslesfeld</option>
                            <option>Stadtmitte</option>
                            <option>Weststadt</option>
                        </select>
            			<div class="input-group-btn">
                            <button type="submit" class="btn btn-default">Filtern</button> 
                        </div>
            		</div>
            	</form>
            </p>
        </div>
    </header>
     
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% playgrounds.forEach(function(playground){ %>
                <% var imageArr = playground.image.trim().split(","); %>
                <div class="col-md-3 col-sm-6 ">
                    <div class="card mb-3">
                        <a href="/playgrounds/<%= playground._id %>">
                            <img class="card-img-top" src="<%= imageArr[0] %>" alt="<%= playground.name %>">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><%= playground.name %></h5>
                            <h6 class="card-title"><%= playground.district %></h6>
                            <% if (playground.rating === 0) { %>
                                <em>Keine Bewertungen bis jetzt</em>
                            <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (playground.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (playground.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (playground.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (playground.rating > 4.5) { %> checked <% } %>"></span>
                            <% } %>
                            <br>
                            <a href="/playgrounds/<%= playground._id %>" class="btn btn-outline-warning btn-sm mt-2">Mehr Infos</a>
                        </div>
                    </div>
                </div>
            <% }); %>
    </div>

<% include ../partials/footer %> 