<% include ../partials/header %>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <img class="card-img-top" src="<%= playground.image %>" alt="<%= playground.name %>">
                <div class="card-body">
                    <h5 class="card-title"><%= playground.name %></h5>
                    <hr>
                    <p class="card-text"><%= playground.description %></p>
                    <% if(currentUser && playground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-warning" href="/playgrounds/<%= playground._id %>/edit">Bearbeiten</a>
                        <form action="/playgrounds/<%= playground._id %>?_method=DELETE" method="POST" class="delete-form">
                            <button class="btn btn-danger">Löschen</button>
                        </form>
                    <% } %>
                </div>
            </div>
            
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <a class="btn btn-success" href="/playgrounds/<%= playground._id %>/comments/new">Kommentar hinzufügen</a>
                    </div>
                    <hr>
                    <div class="row">
                        <% playground.comments.forEach(function(comment){ %>
                            <div class="col-md-12 mb-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="float-left">
                                            <p class="card-title"><strong><a href="/users/<%= comment.author.id %>"><%= comment.author.username %></a></strong></p>
                                            <p class="card-text"><%= comment.text %></p>
                                            <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                                <div class="float-right">
                                                    <a href="/playgrounds/<%=playground._id%>/comments/<%=comment._id%>/edit" class="btn btn-sm btn-warning">Bearbeiten</a>
                                                    <form class="delete-form" action="/playgrounds/<%=playground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                                        <button class="btn btn-sm btn-danger">Löschen</button>
                                                    </form>
                                                </div>
                                            <% } %>
                                        </div>
                                        <div class="float-right">
                                            <p><%= moment(comment.createdAt).fromNow() %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>

            
            
        </div>
    </div>
    
    <script>
      function initMap() {
        var lat = <%= playground.lat %>;
        var lng = <%= playground.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: center,
            scrollwheel: true
        });
        var contentString = `
        <strong><%= playground.location %></strong><br>
        <a href="https://www.google.com/maps/search/?api=1&query=<%= playground.lat %>,<%= playground.lng %>" target="_blank"><span>In Google Maps ansehen</span></a>
        
        `
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEB4zpOjQmMl2YTPJydHGhfUZbCGwDJ8o&callback=initMap"></script>

<% include ../partials/footer %>