<% include ../partials/header %>
    <div class="row">
        <div class="col-md-3">
            <% var descriptionArr = playground.description.split(","); %>
            <div class="list-group list-group-flush">
                <% for(var i=0; i<descriptionArr.length; i++) {%>
                    <li class="list-group-item"><%= descriptionArr[i] %></li>
                <% } %>
            </div>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <img class="card-img-top" src="<%= playground.image %>" alt="<%= playground.name %>">
                <div class="card-body">
                    <h5 class="card-title"><%= playground.name %></h5>
                    <% var favPgString= playground.id+"§"+playground.name;%>
                    <!--if playground is not liked-->
                    <% if(currentUser && (currentUser.favoritePlaygrounds.indexOf(favPgString)==-1) ){ %>
                        <form action="/playgrounds/<%= playground._id%>/like"  method="POST" class="delete-form ">
                            <input type="hidden" name="playgroundIdName" value="<%= favPgString %>">
                            <button class="btn"><i class="far fa-heart"></i></button>
                        </form>    
                    <% } %>
                    <!--if playground is liked-->
                    <% if(currentUser && (currentUser.favoritePlaygrounds.indexOf(favPgString)!=-1) ){ %>
                        <form action="/playgrounds/<%= playground._id%>/unlike"  method="POST" class="delete-form">
                            <input type="hidden" name="playgroundIdName" value="<%= favPgString %>">
                            <button class="btn"><i class="fas fa-heart"></i></button>
                        </form>    
                    <% } %>
                    <hr>
                    <p class="card-text"><%= playground.district %></p>
                    <% if(currentUser && playground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-warning" href="/playgrounds/<%= playground._id %>/edit">Bearbeiten</a>
                        <form action="/playgrounds/<%= playground._id %>?_method=DELETE" method="POST" class="delete-form">
                            <button class="btn btn-danger">Löschen</button>
                        </form>
                    <% } %>
                </div>
            </div>
            
            <!--Review section-->
            <div class="card">
                <div class="card-body">
                    <% if (playground.rating === 0) { %>
                    <h5>
                        <em>Keine Bewertungen bis jetzt.</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (playground.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (playground.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (playground.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (playground.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(Anzahl Bewertungen: <%= playground.reviews.length %>)</em>
                    </p>
                    <p>
                        Aktuelle Bewertung: <strong><%= playground.rating.toFixed(2) %></strong>
                    </p>
                    <p><h4>Aktuellste Bewertungen:</h4></p>
                    <hr style="margin-top: 0;">
                    <% playground.reviews.slice(0, 5).forEach(function(review){ %>
                        <div class="row">
                            <div class="col-md-3">
                                <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                                <div>Von: <strong><a href="/users/<%= review.author.id %>"><%= review.author.username %></a></strong></div>
                                <span><em><%= review.updatedAt.toDateString() %></em></span>
                            </div>
                            <div class="col-md-9">
                                <p style="text-align: justify; word-wrap: break-word;">
                                    <%= review.text %>
                                </p>
                                <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-warning"
                                   href="/playgrounds/<%=playground._id %>/reviews/<%=review._id %>/edit">Ändern</a>
                                <form id="delete-form" class="delete-form" action="/playgrounds/<%=playground._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-danger" value="Löschen">
                                </form>
                                <% } %>
                            </div>
                        </div>
                        <hr>
                    <% }); %>
                    <div style="margin-bottom: 10px;">
                        <h5><a href="/playgrounds/<%= playground._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> Alle Bewertungen ansehen</a></h5>
                    </div>
                    <% } %>
                    <div>
                        <a class="btn btn-primary  <% if (currentUser && playground.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/playgrounds/<%= playground._id %>/reviews/new">
                            Schreib eine Bewertung</a>
                    </div>
                </div>
            </div>
            
            <!--Comments section-->
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <a class="btn btn-success" href="/playgrounds/<%= playground._id %>/comments/new">Kommentar hinzufügen</a>
                    </div>
                    <hr>
                    <div class="row">
                        <% playground.comments.forEach(function(comment){ %>
                            <div class="col-md-12 mb-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="float-left">
                                            <p class="card-title"><strong><a href="/users/<%= comment.author.id %>"><%= comment.author.username %></a></strong></p>
                                            <p class="card-text"><%= comment.text %></p>
                                            <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                                <div class="float-right">
                                                    <a href="/playgrounds/<%=playground._id%>/comments/<%=comment._id%>/edit" class="btn btn-sm btn-warning">Bearbeiten</a>
                                                    <form class="delete-form" action="/playgrounds/<%=playground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                                        <button class="btn btn-sm btn-danger">Löschen</button>
                                                    </form>
                                                </div>
                                            <% } %>
                                        </div>
                                        <div class="float-right">
                                            <p><%= moment(comment.createdAt).fromNow() %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>

            
            
        </div>
    </div>
    
    <script>
      function initMap() {
        var lat = <%= playground.lat %>;
        var lng = <%= playground.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: center,
            scrollwheel: true
        });
        var contentString = `
        <strong><%= playground.location %></strong><br>
        <a href="https://www.google.com/maps/search/?api=1&query=<%= playground.lat %>,<%= playground.lng %>" target="_blank"><span>In Google Maps ansehen</span></a>
        
        `
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEB4zpOjQmMl2YTPJydHGhfUZbCGwDJ8o&callback=initMap"></script>

<% include ../partials/footer %>