<% include ../partials/header %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="col-md-12 text-center">
                <h2>Bewertung: <%= playground.name %></h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <% if (playground.rating === 0) { %>
                        <h5>
                            <em>Noch keineBewertungen.</em>
                        </h5>
                        <% } else { %>
                        <p>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star <% if (playground.rating > 1.5) { %> checked <% } %>"></span>
                            <span class="fa fa-star <% if (playground.rating > 2.5) { %> checked <% } %>"></span>
                            <span class="fa fa-star <% if (playground.rating > 3.5) { %> checked <% } %>"></span>
                            <span class="fa fa-star <% if (playground.rating > 4.5) { %> checked <% } %>"></span>
                            <em>(Anzahl Bewertungen: <%= playground.reviews.length %>)</em>
                        </p>
                        <p>
                            Aktuelle Bewertung: <strong><%= playground.rating.toFixed(2) %></strong>
                        </p>
                        <p><h4>Alle Bewertungen zu diesem Spielplatz:</h4></p>
                        <hr style="margin-top: 0;">
                        <% playground.reviews.forEach(function(review){ %>
                            <div class="row">
                                <div class="col-md-3">
                                    <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                                    <div>Von: <strong><%= review.author.username %></strong></div>
                                    <span><em><%= review.updatedAt.toDateString() %></em></span>
                                </div>
                                <div class="col-md-9">
                                    <p style="text-align: justify; word-wrap: break-word;">
                                        <%= review.text %>
                                    </p>
                                    <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                                        <a class="btn btn-xs btn-warning"
                                           href="/playgrounds/<%=playground._id %>/reviews/<%=review._id %>/edit">Bearbeiten</a>
                                        <form id="delete-form" action="/playgrounds/<%=playground._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                            <input type="submit" class="btn btn-xs btn-danger" value="Löschen">
                                        </form>
                                    <% } %>
                                </div>
                            </div>
                            <hr>
                        <% }); %>
                    <% } %>
                    <div>
                        <a class="btn btn-primary <% if (currentUser && playground.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/playgrounds/<%= playground._id %>/reviews/new">
                            Schreib eine neue Bewertung</a>
                    </div>
                    <div style="margin-top: 10px;">
                        <a class="btn btn-default" href="/playgrounds/<%= playground._id %>">Zurück</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Review section-->
</div>

<% include ../partials/footer %>